@font-face {
    font-family: "CozetteVector";
    src: url("../fonts/CozetteVector.ttf");
}

:root {
    --font: "CozetteVector";
    --background: #0C1014;
    --foreground: #98d1ce;
    --blue: #195465;
    --brightblue: #597a90;
    --green: #26a98b;
    --orange: #d26939;
    --branch: 1px solid #599caa;
}

html {
    font-size: 18px;
}

body {
    background: var(--background);
}

.container {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.prompt {
    font-family: var(--font);
    color: var(--green);
}

.prompt~.prompt {
    padding: 1.5rem 0 0.3125rem;
}

.user {
    color: var(--blue);
}

span {
    color: var(--brightblue);
}

h1 {
    display: inline;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--blue);
}

.tree > ul {
    margin: 0;
    padding-left: 1rem;
}

ul {
    list-style: none;
    padding-left: 2.5rem;
}

li {
    position: relative;
}

li::before, li::after {
    content: "";
    position: absolute;
    left: -0.75rem;
}

li::before {
    border-top: var(--branch);
    top: 0.75rem;
    width: 0.5rem;
}

li::after {
    border-left: var(--branch);
    height: 100%;
    top: 0.25rem;
}

li:last-child::after {
    height: 0.5rem;
}

a {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--background);
    background: var(--orange);
}

form h1 {
    padding-left: 0.125rem;
}

input {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    background-color: var(--background);
    border: none;
}
